@import "files/colors",
"files/fonts";


html, body {
	width: 100%;
	height: 100%;
	font-family: "ralewayregular",sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 17px;
	color:$bzOrange;

}

p.browsehappy{
	padding:50px 0 0 10px;
	color:$bzOrange;
}

.bg-img {
	width: 100%;
	height: 80%;
	background: url('../img/code_graffiti.png') right bottom no-repeat, url('../img/bg_brick.jpg') center center no-repeat;
	background-size: 1050px, cover;
	color:#fff;
	position:relative;

  &:before {
	content: '';
	position: absolute;
	height:100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:radial-gradient(circle, #f06d06, transparent);
	opacity: .44;
  }

	img{
		position: absolute;
		left:0;
		right:0;
		margin: 0 auto;
	}
}


#trades{
	width:296px;
	height:114px;
	float:right;
	z-index: 900;

	margin-top:30px;
	position:absolute;
	cursor:pointer

}

#portfolio{
	width:160px;
	height:162px;
	background:url(../img/portfolioButton.gif) no-repeat top;
	z-index: 700;
	position:relative;
	cursor:pointer;
	margin:-60px 0 0 -20px;
	float:right
}

#portfolio:hover {
	background:url(../img/portfolioButton.gif) no-repeat bottom
}


#trades:hover {
	background:url(..img/tradespeople_over.gif) no-repeat top
}

#services{
	width:120px;
	height:113px;
	background:url(../img/services.gif) no-repeat top;
	margin:20px 0 0 -38px;
	z-index: 600;
	position:relative;
	cursor:pointer;
	float:right}

#services:hover{
	background:url(../img/services.gif) no-repeat bottom;
}

#contact{
	width:120px;
	height:100px;
	background:url(../img/contactButton.gif) no-repeat top;
	margin:-40px 0 0 -80px;
	z-index: 900;
	position:relative;
	cursor:pointer;
	float:right
}

#contact:hover{
	background:url(../img/contactButton.gif) no-repeat bottom;
}

#about{
	width:120px;
	height:105px;
	background:url(../img/aboutButton.gif) no-repeat top;
	margin:-10px 0 0 -50px;
	z-index: 800;
	position:relative;
	cursor:pointer;
	float:right
}

#about:hover{
	background:url(../img/aboutButton.gif) no-repeat bottom;
}
