@import "files/colors",

"files/animations",

"files/form",

"files/fonts";


html, body {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color:$black;
	background: #442811;

}

p::-moz-selection { background-color: $siennaLight}
p::selection { background-color: $siennaLight; }

h1, h2 {
	font-family: 'oswaldbold';
}

h3 {
	font-family: 'oswaldlight';
}


p.browsehappy{
	padding:50px 0 0 10px;

}

p {

	font-size:16px;
}

.navbar {
	background-color: transparent;
	border:none;
}

.navbar-brand {
	padding-top:100px;
	height:auto;
	width:330px;
}

.brick-background {
	width: 100%;
	height: 75%;
	min-height: 450px;
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1596559779/graffiti_code_01_wd5hlw.png') center bottom no-repeat,

	 url('https://res.cloudinary.com/jryandoherty/image/upload/v1596136886/bg_brick_lfahqt.jpg') #333 center center no-repeat;
	background-size: 1120px, cover;
	color:#fff;
	position:relative;
	overflow: hidden;

	&:before {
	content: '';
	position: absolute;
	height:100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:radial-gradient(circle, #f06d06, transparent);
	background-repeat: no-repeat;
	/*background-size:30% 30%;*/
	opacity: .34;
	}


	.nav {
		margin-top:50px;
	}

	.introText {
		top:50%;
		float:none;
		text-align:left;
		position: absolute;
		visibility:hidden;
		/*width:350px;*/
	}

	p {
		font-size:28px;
		font-family:'oswaldbook';
	}

	a {
		color:$white;
			&:hover {
				text-decoration:underline;
			}
	}

}



p.browsehappy {
	padding:50px 0 0 10px;
	color:$bzOrange;
}


.portfolioPage .brick-background {
	height:150px;
}

/* Navigation */

.recentWork {
	width:175px;
	height:175px;
	z-index: 700;
	margin:10px 0 0 0;
	position:relative;
	float:right;
	transform: rotate(0deg);
	visibility:hidden;


	&:hover{

		transform: rotate(10deg);
		transition: .3s ease-in all;

	}

	svg #sticker4 {fill:$green}
	svg:hover #sticker4 { fill: $greenLight  }

}




.branding {
	width:125px;
	height:125px;
	margin:105px -10px 0 -50px;
	z-index: 600;
	position:relative;
	float:right;
	transform: rotate(0deg);
	visibility:hidden;


	&:hover{

		transform: rotate(15deg);
		transition: .3s ease-in all;

	}

	svg #sticker3 {fill:$sienna}
	svg:hover #sticker3 { fill: $siennaLight  }

}



.contact{
	width:100px;
	height:100px;

	margin:20px 0 0 -88px;
	z-index: 900;
	position:relative;
	float:right;
	transform: rotate(0deg);
	visibility:hidden;

	&:hover{

		transform: rotate(15deg);


	}

	svg #sticker2 {fill:$yellow}
	svg:hover #sticker2 { fill:$yellowLight  }

}



.about {
	width:120px;
	height:120px;
	margin:50px 0 0 -37px;
	z-index: 800;
	position:relative;
	cursor:pointer;
	float:right;

	visibility:hidden;

	/*&:hover {

		-webkit-animation: spin 0.6s ease-out both;
						animation: spin 0.6s ease-out both;

	}*/



	svg #sticker1 {fill:$black}
	svg:hover #sticker1 { fill: $blackGreen }
}


.recentWorkSection {
	min-height:700px;
	/*background: url('/img/graffiti_bottom.png') right top no-repeat #fcfcf4;*/
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1596559778/graffiti_code_02_ifwfp0.png') center top no-repeat $cream;
	background-size: 1120px;

	padding-top:100px;
	padding-bottom:200px;

	.intro {
		margin-bottom:80px;
	}

	h2 {
		font-size: 40px;
	}

	img {
		max-width:700px;
		height:auto;
		@media(max-width: 767px){
			max-width:100%;
		}
	}

	.full img {
		max-width:100%;
	}

	.client {
		padding-right:10px;
		font-family: 'oswaldlight';
	}

	.col-lg-4 {
		padding-left:5%;
		@media(max-width:1199px){
			padding-left:15px;
		}
	}
}


.brandingSection {
	background: $cream;
	border-top:3px dashed $sienna;
	/*background: #ffdea9;*/
	padding:5% 0;

	h2 {
		font-size: 40px;
		margin-bottom:30px;
	}

	.modal-content {
		background-color:#fcfdf5;
	}

	.row {
	.col-md-2, .col-md-3, .col-md-4 {
		min-height: 220px;
		box-shadow: 2px 3px 1px #333;
		background: #4c4b4b;
		padding:10px;
		height: 10em;
		display: flex;
		align-items: center;
		justify-content: center;

		border: 2px solid #333;
		@media (max-width: 1000px) {
			flex-direction:column;

		}

		&:last-child {margin-bottom:30px;}



		.logo {
			width:80%;

			max-height:240px;
			margin: 0 auto;
    	display: block;
			&:hover {
				width:95%;
				transition: .2s ease-in all;
				cursor:pointer;
			}
		}

	}
	@media (max-width: 768px) {
		&:last-child {display:none;}

	}
}

} /*end branding section */

.modal {

	img {

		max-width:100%;
		height:auto;

	}

	.modal-title {
		display:inline;
		margin: 0 10px;
	}

	.close {

	}

}


.about-background {
	width: 100%;
	min-height: 300px;
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1596136886/bg_brick_lfahqt.jpg') #211e18;
	position: relative;
	padding:10% 0;
	color:$white;

	&:before {
	content: '';
	position: absolute;
	height:100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:radial-gradient(circle, #000, transparent);
	background-repeat: no-repeat;
	/*background-size:30% 30%;*/
	opacity: .74;
}

	.col-sm-3 {

		@media (max-width: 767px) {
			margin-bottom:20%;
		}
	}

	.glyphicon {
		margin-right:15px
	}

	@media (max-width: 767px) {
		padding:5% 8%;
	}

}

.picture-background {
	width: 100%;
	min-height: 300px;
	background: url('/img/bg_trash.jpg') #211e18;

	padding:20% 5%;
	color:#fff;

}


.form-control:focus {
    border-color: #cf66e9;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}



.swatch {
	width:100px
}


.carousel-indicators {
	bottom:-100px;

}

.carousel-indicators .active {
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: #0b0909;
}
.carousel-indicators li {
    width:30px;
    height: 30px;


    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 4px solid #0b0909;
    border-radius: 50%;
}

.carousel-control {
	width:0;
	color:#1e1e1e;
}




.aboutme {
	padding-top:3%;
	background:url('/img/sunset.jpg') center center no-repeat;
	background-size: cover;
	color:$blackGreen;
	position:relative;
	min-height:1000px;

	&:before{

			position: absolute;
			content: '';
			top:0;
			bottom:0;
			right:0;
			left:0;
			background-image: linear-gradient(to bottom right, #FFF0C0, #b98d00, transparent, transparent, transparent, transparent);
	}

	h2{
		font-size:5em;
	}
}

.contactme {
	min-height:450px;
	background:$yellow;
	padding:5% 0;

	h2 {
		color:$altblack;
	}

	h3 {
		margin-bottom:24px;
	}

	input[type="text"], input[type="tel"], textarea {
		width:80%;
		@media (max-width: 767px){
			width:100%;
		}
	}

	.intro {
		margin-bottom:4%;
	}

	@media (max-width: 767px) {
		padding:5% 8%;
	}

	label {
		font-family: "oswaldlight";
	}

}



footer {
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1596136886/bg_brick_lfahqt.jpg');
	/*background-size:1200px;*/
	min-height: 400px;
	color:$white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'oswaldlight';
}


@media (max-width: 992px) {
	.navbar-brand {
		width:230px;
	}

.brick-background {

	.introText{
		font-size:28px;
		position:relative;
	}
}
	.about {
		width:96px;
		height:96px;
	}

	.branding {
		width:100px;
		height:100px;
	}

	.contact {
		width:80px;
		height:80px;
	}

	.recentWork {
		width:140px;
		height:140px;
	}

	.logo{
		max-width: 400px;

	}

}


@media (max-width: 767px) {

.brick-background {
	height:40%;


	.nav {
		margin-top: 0
	}
	.navbar-collapse{
		overflow:hidden;
		border:none;
		box-shadow:none;
	}

	.navbar-header {
		margin-top: 10px;
	}

	.navbar-toggle{
		border:none;
		margin-top: 18px;
		&:hover {
			background:$siennaLight;
			border-radius:40%;
		}
		.icon-bar{
			border: 3px;
			background-color:$white;
		}
	}
	.introText {
		font-size: 21px;
		padding-top:20px;
		position:relative;

	}
}

	.navbar-brand {
		padding-top:15px;

	}

	.navbar-nav li div {
		margin:0
	}

	.nav > li {
    display: inline-flex;
    flex-direction: row-reverse;
	}


	.portfolio, .about, .contact, .recentWork {
		width:110px;
		height:110px;
	}

	.logo {
		max-width: 370px;

	}


}


@media (max-width: 470px) {

	.portfolio, .about, .contact, .recentWork {
		width:80px;
		height:80px;
	}

	.logo {
		max-width: 290px;

	}

}
