.desktop {

	@media(max-width: 767px){
		display:none;
	}
}

.mobile {
	max-width:400px;
}

.email .row:nth-child(1){
	border-bottom:1px solid #ccc;
}

.webpage {
	position:relative;

	@media(max-width:768px) {
		width:95%;
	}

	@media(min-width:1400px) {
		width:1280px;
	}

	@media(min-width:1600px) {
		width:1480px;
	}

}

iframe, object {
	box-shadow: 1px 2px 3px $sienna;
	max-height:768px;
}

.iframe {
	-ms-zoom: 0.85;
	-moz-transform: scale(0.85);
	-moz-transform-origin: top center;
	-webkit-transform: scale(0.85);
	-webkit-transform-origin: top center;

	.legend {
		font-size:110%;
	}

	.crumbs {
		font-size:110%;
	}
}

.screenshot {
	position:relative;
	img {
		box-shadow: 1px 2px 3px $sienna;
		margin-bottom:10px;
	}

}

.legend {
	/*position:absolute;*/
	display:flex;
	flex-direction: column;
	justify-content: center;

	height:auto;

	right:33px;
	bottom:-100px;
	/*color:$white;
	border: 3px solid $white;
	background: $sienna;*/
	padding:20px 0;

	@media (max-width:768px) {
			position:static;
			margin:20px auto;
	}

	h2 {
		font-size: 1.3em;
		font-family: 'Oswald', sans-serif;
		margin-bottom:12px;

	}

	ul {
		list-style-type: none;
		text-align: left;
		margin: 0;
		padding:0;
	}
	p {
		margin:10px 0 0 0;
	}

	a {
	 color:$siennaLight
	}

	.carousel-indicators {
		position:static;
		margin-left: 20px;
		text-align:left;

	}


	.carousel-indicators li {
	    width:15px;
	    height: 15px;
			margin:0;
	    background-color: #222;
			border:0;
	    border-radius: 50%;
	}

	.carousel-indicators .active {
	    width: 15px;
	    height: 15px;
			border:0;
	    background-color: $siennaLight;
	}

	.carousel-control {
		width:0;
		color:#1e1e1e;
	}

	.carousel img {
		max-width:100%;

	}

}


.thumbnail-webpage {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
		max-width:500px;
		margin-top:20px;

		img {
			width:150px;
			height:100px;
			box-shadow: 1px 2px 3px $sienna;
			&:hover{
				scale:1.33;
				transition: .5s;
			}
		}

		a {
			&:hover{
				width:1200px;
			}
		}

		p {
			padding:20px 0;
		}

		& >* {
			flex: 1 1 140px;
		}
}

.legend-thumbnails {

}

.carousel-indicators {
	position:static;
	margin-left: 20px;
	text-align:left;

}


.carousel-indicators li {
    width:15px;
    height: 15px;
		margin:0;
    background-color: #222;
		border:0;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
		border:0;
    background-color: $siennaLight;
}

.carousel-control {
	width:0;
	color:#1e1e1e;
}

.carousel img {
	max-width:100%;

}
