html, body {
	width: 100%;
	min-width:100%;
	height: 100%;
	background: none;
	font-family: "Avenir LT W01 55 Roman", sans-serif;
	font-style: normal;
	padding: 0;
	margin: 0;
}


div, label, span {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

}

@font-face{
	font-family:"Avenir LT W01 55 Roman";
	src:url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
	src:
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
}

@font-face{
		font-family:"Avenir LT W01 65 Medium";
		src:url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix");
		src:url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix") format("eot"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}

@font-face{
		font-family:"Avenir LT W01 85 Heavy";
		src:url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix");
		src:url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?#iefix") format("eot"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),
		url("https://www.buyerzone.com/bzng/styles/bz/fonts/avenir/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}




h1, h2 {
	font-weight: 100;
	font-family: "Avenir LT W01 85 Heavy", sans-serif;
	text-transform: none;
	margin: 0;
	font-size: 58px;
}

h2 {
	font-size: 24px;
	color: rgba(70, 81, 98, 1);
}


h3 {
	font-size:36px;
	margin-bottom: 18px;
}

.logoRow {

	height: auto;

	/*padding-top:27px;*/
}

.logoRow img {
	margin:10px 0;
}

.bg-mariner {
	width: 100%;
	background: url('https://cdn.buyerzone.com/images/mktg/mariner/Mariner_Background_Image_DC.jpg') center center no-repeat #464646;
	background-size:cover;
	height:100%;
	color: #fff;
}




.topContainer {
	width:1170px;
	margin:0 auto;
	height:100%
}


.ctaLeft {
	width:60%;
	display:inline-block;
	margin:0;
	vertical-align: top;
	padding-top:6%;
}

.ctaLeft h2, ctaLeft p {
	margin:0
}

.ctaLeft ul {

	list-style-type:none;
	margin:28px 0 0 0 ;
	padding:0;


}

.ctaLeft ul li {
	width:450px;
	padding-left:100px;
	background:url('https://cdn.buyerzone.com/images/mktg/mariner/one.svg') no-repeat left;
	margin-top:28px;



}

.ctaLeft ul li:nth-child(2) {
	margin-top:0
}

.ctaLeft ul li:nth-child(3) {

	background:url('https://cdn.buyerzone.com/images/mktg/mariner/two.svg') no-repeat left;
}

.ctaLeft ul li:nth-child(4) {

	background:url('https://cdn.buyerzone.com/images/mktg/mariner/three.svg') no-repeat left;
}

.questionStrip {
	width:460px;
	display:inline-block;
	margin:0;
	height:100%;
	background:url('https://cdn.buyerzone.com/images/mktg/mariner/arrow_blue.png') no-repeat 0 20px #374958;
	background-size: 40px 137px;
}

.questionStrip h4{
	color:#fff;
	text-align:center;
	font-size:23px;
	margin:68px 0 0 20px;
	min-height:50px;
}




/* RFQ box overides */


.qs-container {
	text-align: center;
	    width: 85%;
		margin:0 auto;
}

.rfq-box {
	width: 100%;
	background: none;
	overflow: hidden;
	padding: 28px 0 0 0;
	margin:0 auto;
	border-radius: 0;
	box-shadow: none;


}
.rfq-box .page {
	width: 85%;

	position:static;
	margin-left:23px;

}




#backNextRow {
	border: none;
	height:0;
	text-align:center;
	padding:0 20px;

}


.nextWrapper {
	width: 328px;
	float:none;
	border-radius: 4px;
	background:#F2BA2E;
	text-align:center;
	font-weight:normal;
	height: 50px;
	line-height: normal;

}





#backNextRow.firstPage .nextWrapper {
	width: 270px;


}



.backWrapper {
	width: 88px;
	float:none;
	border: none;
	background-color: #5F5C5C;
	color: #fff;
	border-radius: 4px;
	height: 40px;
	line-height: 36px;
	margin-top:5px;
}

#rfq-continue:hover {
	background-color:#ffc022 !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}





#rfq-back:hover {
	background-color: #848383
}

.nextArrow {
	width:17px
}


/* progress bar styles */

.hide {display:none}

.progressBar {
	/*position:fixed;*/
}
.progress-value {
	color: #fff;
	font-size: 18px;
	margin-top: 10px;
}
.completionWrapper {
	background: none;
	height: 20px;
	border: 1px solid #fff;
	float: none;
	line-height: 16px;
	width: 325px;
	margin: 0 auto;
}
.completionBar {
	border: 0;
	background-color: #fff;
}

.completionBar {
	border: 0;
	background-color:#3686FB;
	-ms-transition:  0.8s linear;
	-moz-transition:  0.8s linear;
	-webkit-transition: 0.8s linear;
	transform: 0.8s linear;

}
.completionMsg {
	position: static;
	color: #fff;
	float:right;
	width:auto !important;
	height:0;
	margin:-8px 10px 0 0 ;

}


/* question, notes, error message styles */

form legend, form .question {
	text-align: center;
}

.safari form legend, .safari form .question {
	/*margin:0 0 35px 0 !important;*/

}


.question {
	font-size: 21px;
	color: #fff;
	font-family: "Avenir LT W01 55 Roman", sans-serif !important;
	font-weight: 400;

}
legend.question + p.note, p.note {
	text-align: center;
	font-size: 17px;
	color:#C6C6C6;
	margin-bottom:20px;
	line-height: 21px;
}
.q-help-link {
	display: none
}
p.note + span.error {
	text-align: center;
	font-size: 17px;
	margin-top: 10px;
	color:#FB4C36;
	font-weight:bold;
}

form .question span.error, form legend span.error {
	font-size: 17px;
	color:#FB4C36;
	font-weight:bold;
	line-height: initial;
	margin-top: 10px;
}

form fieldset.error {
	background: none
}
form fieldset.error input[type="text"] {

}



/* input and textarea styles */


.rfq-box form .page > div.radio {
	margin-top:58px
}


.rfq-box form .page > input[type="text"] {
	margin: 42px auto;
	display: block;
	width: 155px;
	font-size: 23px;
	border-radius: 6px;
	border: #79CEEB 4px solid;
	padding: 6px;
	outline: none;
}



.rfq-box form .page textarea {
	border-radius: 6px;
	border: #79CEEB 4px solid;
	font-size:21px;

}

input#email {
	width: 80%
}

.horizontalControls .multipleAnsOther input.other-input {
	padding:5px;
	margin: 1em auto 0;
	width: 60%;
	margin-top: 0px;
}




/* horizontal controls overrides */

.horizontalControls {
    margin: 22px auto 0;

}

.horizontalControls > div {
	float:none;
}

.horizontalControls label {

	line-height: 18px;
	padding:0 !important
}

.horizontalControls>div+div {

	padding-left: 0
}


.horizontalControls.choose2 {
	/*width: 85%;*/
    margin: 42px auto 0;
    display: block;
}
.horizontalControls.choose2 > div {
	width: 100%
}

.horizontalControls.choose3 {
    /*width: 85%; */
}

.horizontalControls.choose3> div {
	width:100%;

}

.horizontalControls.choose5 {
	padding-left:0;
}


.horizontalControls.choose5 {
   /* width: 85%; */
}

.horizontalControls.choose5>div {
    width: 100%;
}


.horizontalControls .qiconWrapper {
	height: 55px;
	width: 100%;
	background-image:none !important;
	padding:4px;
	border-radius:12px;
	border:2px solid #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;

	-ms-transition: background 0.44s linear;
	-moz-transition: background 0.44s linear;
	-webkit-transition: background 0.44s linear;
	transition: background 0.44s linear;

}

.ie9 .horizontalControls .qiconWrapper {padding-top:15px;height:35px}

.horizontalControls .qiconWrapper:hover {

	background:#3686FB;


}

.horizontalControls .qiconWrapper:active {
	background:#3686FB;
}


.answersColumn {


	display: block;
	clear:left;
    margin-top: 6px !important;
}

.answersRow2 {margin-top: -12px;}



input[type="radio"]:checked + div {
	-ms-transition: background 0.6s linear;
	-moz-transition: background 0.6s linear;
	-webkit-transition: background 0.6s linear;
	transition: background 0.6s linear;
	background: #3686FB;

}

/*.rfq-box form .page > div.answersColumn .radio input[type="radio"] ~ label, .page4 .radio input[type="radio"] ~ div.multipleAnsOther > label {
	background: url(http://cdn.buyerzone.com/images/mktg/utopia/radio_off.svg) no-repeat;
	background-size: 26px 26px;
}
.rfq-box form .page > div.answersColumn .radio input[type="radio"]:checked ~ label, .page4 .radio input[type="radio"]:checked ~ div.multipleAnsOther > label {
	background: url(http://cdn.buyerzone.com/images/mktg/utopia/radio_on.svg) no-repeat;
	background-size: 26px 26px;
}*/


input[type="radio"] + div.multipleAnsOther > label, input[type="radio"] + label {
	width: 100% !important;
	height: 100%
}





/* Checkbox styles */
input[type="checkbox"] + div.multipleAnsOther > label, input[type="checkbox"] + label {
	width: 92% !important;
	height: 100%
}

input[type="checkbox"]:checked + div.multipleAnsOther > label, input[type="checkbox"]:checked + label {

}
input[type="checkbox"] + div.multipleAnsOther > label, input[type="checkbox"] + label {

}




input[type="checkbox"] + label {
	display: inline-block;
	background: url('https://cdn.buyerzone.com/images/mktg/utopia/checkbox_off.svg') no-repeat 10px center;
	background-size: 26px 26px;

	padding: 15px 0 10px 42px;
	border-radius: 5px;
	border:2px solid #fff;
    text-align: left;
    margin: 3px auto;

}


input[type="checkbox"]:checked + label {
	-ms-transition: background-color 0.6s linear;
	-moz-transition: background-color 0.6s linear;
	-webkit-transition: background-color 0.6s linear;
	transition: background-color 0.6s linear;

	background: url('https://cdn.buyerzone.com/images/mktg/utopia/checkbox_on.svg') no-repeat 10px center;
	background-color: #3686FB;
	background-size: 26px 26px;
	/*background-position-y: center;
	background-position-x: 10px;*/
	padding: 15px 0 10px 42px;



}




.loadingSpinner {
	background-image: url('https://cdn.buyerzone.com/images/mktg/mariner/loader.gif');
	background-repeat: no-repeat;
	display: none;
	height: 80px;
	margin:0 auto;
	width: 64px;
	position: relative;
	right: auto;
	bottom: auto;
}

.addReqs {display:none}


/* Safari radio button alignment fix */

.safari fieldset>div.answersColumn>div.radio input[type=radio]+label, .safari fieldset>div.radio input[type=radio]+div.multipleAnsOther>label, .safari fieldset>div.radio input[type=radio]+label {
	display:inline-block;
}


rfq-box .warning {
	background:none;
	float:none;
	width:60%;
	margin: 0 auto;
	font-size: 12px;
}


/* fix for other field */

.seoRfq .multipleAnsOther {
	width: 200px !important;
	margin: 0 auto;
	float:none;

}

.safari .horizontalControls .multipleAnsOther input.other-input {
	margin-top:0;
}



/* answer icons */


.page-7 .answersRow2 .radio:nth-child(3) .qiconWrapper {height:90px}
.page-7 .answersRow2 .radio:nth-child(3) .qiconWrapper span {color:#F2BA2E}


form .pag-3 label {font-size:13px !important}









/* Reg page overrides */


.reg-page .rfq-box .page {
	margin-left:55px
}

.reg-page table {
	width:90%;
}

.reg-page .progressBar {
	margin-top: 0 !important
}

/*.reg-page .rfq-box {
	height:550px !important
}*/

.reg-page fieldset table input, .reg-page fieldset table select {
	line-height: normal;
	font-size: 19px;
	border-radius: 6px;
	border: #79CEEB 4px solid;
	padding: 6px;
	margin-bottom: 12px;
	width:100% !important;
}
.reg-page td.error input[type="text"] {
	border: 4px solid #FB4C36 !important
}
.reg-page td.error select {
	border: 4px solid #FB4C36 !important
}

.reg-page fieldset h3 {
	    margin: -30px auto 10px;
    font-size: 1.25em;
    font-weight: 400;
}
div.newsLetter {
	margin: 0 auto;

	color: #fff
}

/* div.checkbox {margin-top:0} */


.reg-page .rfq-box form .page>div.checkbox {
	background: none;
	width: 85%;
	margin: 0;
}



.truste {
	width: auto;
	margin:0;

}

.checkbox.newsLetter > label {
	color: #fff;
	font-size: 12px;
}

.tcpaAbove {
	margin: 10px auto 0;
	font-size:14px;
}
.tcpaWrapper {
	display: block;
	margin: 0 auto;
	font-size: 19px;
	border: 0px none;
	padding-top: 100px;
	padding-left: 10px;
}
.tcpaWrapper .tcpa.reglast-show {
	color: #fff;
	background: none;
	border: none;
	margin-bottom:300px;
}
.tcpa {
	margin: 0
}
.tcpa-text, .tcpaBelow {
	color: #fff;
	margin:10px;
}

p ~ .tcpa-logos {
	text-align: center;
	width: auto;
	float:none;
	margin:20px 0
}


.check-note, .note, .q-note, form .reg-page label {
	font-size: 17px;
	display: block;
}
td.error > span.error {
	color: #FB4C36;

	margin-top: -10px;
	margin-bottom: 10px;
	display: block;
}
#processing-body {
	position: fixed
}

#processing-body h3 {
	font-size:24px;
}

.image1 {
	margin-bottom:-45px
}

.image2 {
	margin-left:-20px;
	margin-bottom:-3px;
}


.whyContainer {
	background:#465162;
	width:100%;
	padding:110px 0;
	color:#fff;

}

.why {
	width:960px;
	margin:0 auto;
	position:static;
}

.why img {
	float:left;
	margin-right:20px;
	margin-bottom:30px;
}

.why p {
	font-size:1.55em;
	margin:0;
}


.buyersGuide {
	width:960px;
	margin:110px auto 230px;
	position:static;
}

.buyersGuide img {
	float:right;
	margin-left:20px;

}

.buyersGuide p {
	font-size:1.75em;
	margin:0;
}




footer {

	padding: 40px;
	font-size: 12px;
	margin-bottom: -20px;
	clear: both;
	color: #464646;
}
footer:before {
	background: none;
	height: 0
}
footer a {
	color:#3fbfc8 !important;
}
footer p {
	text-align:center;
}

footer .credits {

	margin: 0 auto;
	text-align:center;
}
footer span {
	margin-right: 20px;
}
footer span.number {
	margin-left: 20px;
	margin-right: 0;
}
footer img {
	display: block;
	margin:0 auto;
}




@media (max-height:940px) {
.bg-mariner {
		height:130%;
	}


}


@media (max-height:840px) {
	.bg-mariner {
		height:150%;
	}

	.ctaLeft {
	padding-top:3%;
}
}
@media (max-height:680px) {
	.bg-mariner {
		height:190%;
	}

}




@media (max-width:1280px) {


.topContainer {
	width:960px;
	margin:0 auto;
	height:100%
}


.logoRow img {
	width:200px;
	height:auto;
}

.ctaLeft {
	width:48%;
	padding-left:2%;
	padding-top:3%;
}

.ctaLeft ul li {
	width:300px;
	padding-left:120px;

}



.imageContainer {

	height:500px;
}

.questionContainer {
	margin-top:10px
}

h1 {
	font-size:36px
}

h2 {

	font-size:17px;
}

h3 {
	font-size:24px;
}

.contentCol .rfq-box {
	padding:20px 0 0;
}



.question {
	font-size: 24px
}


legend.question + p.note, p.note {
	font-size:16px
}



.reg-page fieldset h3 {
	width: 100%
}


.why {
	width:95%
}

.why div {
	width:65%;
	margin:0 auto;
	float:none;
}
.why div:nth-child(3) {
margin:0 auto;
}


}
