
*.xml

/_notes

/.sass-cache

/psds

/old_code
css/_notes/dwsync.xml
css/.DS_Store
.DS_Store
img/.DS_Store
portfolio/.DS_Store
img/.DS_Store
*.xml
img/.DS_Store
css/_notes/dwsync.xml
img/.DS_Store
/wordpress
/blog
portfolio/.DS_Store
portfolio/2018/.DS_Store
portfolio/.DS_Store
portfolio/2018/.DS_Store
