@charset "utf-8";
/* CSS Document */

body { color: #0C3A45; font-family:Arial, Helvetica, sans-serif; font-size:13px;line-height:22px;margin: 0 0 0 0; padding:0;
   background:#f9f9ef}


h1{font-size:1.4em;padding:0;margin:0 0 12px 0;color:#16322A;}
h2{font-size:1.1em;color:#193907; margin:0px;padding:8px 0 0 0;}
h3{font-size:1.2em;color:#16322A;margin:0 0 10px 0}
h4{color:#000}

ol, ul {list-style: none; padding:0;margin:0}

div {margin:0;padding:0}

pre {font-family:Arial, Helvetica, sans-serif;overflow: auto;
	}

a {color:#3972da; padding: 0 2px 0 0; text-decoration:none} 
a:hover {color: #3972da; text-decoration:underline}
a img {border:0}

.small {font-size: 14px;}
.medium {font-size: 16px; line-height:24px;}
.large {font-size: 18px; line-height:28px}

#containerNew {width:990px;margin:0 auto;background:url('images/logo.png') left top no-repeat;padding:120px 0 0 0; }  

#headerGraphic {display:block;margin:0;padding:0;height:189px;background:url('images/header_960a.jpg') center no-repeat;}
#logo{top:28px;position:relative}

#phone {position:absolute;color:#000;top:52px;margin-left:720px;font-weight:bold;}






.contentHeader{height:340px;width:825px;background:url('images/background_340.jpg'); 
         margin:0 auto;border-radius:30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;
behavior:url('border-radius.htc');}

.headerThin {height:200px;background:url('images/background_2.jpg');}

.contentText{width:785px;padding:10px 0;margin: 0 auto}
.contentText ul {list-style-type:disc;margin:25px;}
.contentText ul.cities {list-style-type:disc;margin:25px 100px 25px 25px;float:left}
.contentText ul.state {list-style-type:disc;margin:25px 10px 25px 25px;float:left}
.contentText ol {list-style-type:decimal;margin:25px;font-weight:bold}

.contentText p {margin:0 0 14px 0}
.contentText img {float:left;margin:0 10px 10px 0}

.noborder {border-top:none}

#talkbubble {float:right;width:328px;height:164px;background:url('images/bg_talkbubble.png') no-repeat;top:140px;position:relative;padding:14px 0 0 14px;margin:30px}
#talkbubble p {margin-left:8px}
#rightColumn {width:330px;float:right;margin-top:14px}


#calloutBox {background: url('images/bg_callout.png');color:#000;
width:340px;float:left;top:58px;left:30px;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;

border:2px solid #e1e1c4;
padding:10px;
position:relative;

}

#calloutBox img.picture{float:right;margin-top:5px;border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;border:3px solid #666;}

#calloutBox img.continue {margin-bottom:-9px}


#calloutBox input.rfqzip {padding:4px 4px 4px 8px;border-right:none;border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;}
	
#calloutBox p {margin: 20px 0;clear:left}	


#calloutBox ol li {clear:left}
#calloutBox div.radiolist {float:left;margin:4px 14px 14px 0}

.wide {width:600px;float:none;border-top:none}


.rfqBar{
   position:fixed;
   bottom:0;
   width:100%;
   height:30px;   
	color:#BADD22;
    background:#2E5817;
	border-top: 2px solid #193907;
	padding:10px 0 0 0 ;
}
.rfqBar a {font-size:1.2em;color:#FFF;margin:10px;background:url('images/leaf_small.jpg') left no-repeat;padding:10px 0 4px 50px}

.rfqBorder {margin:12px 0;width:445px;border:1px solid #333;float:right}

.shareResize {border-bottom:1px solid #333;margin-bottom:16px}

.resizer {float:right;padding:16px 0 0 0 ;}
.resizer span{cursor:pointer;padding:0 3px 0 }
.resizer span:hover{background-color:#2E5817;color:#FFF}
.resizer span.on{background:#2E5817;color:#FFF}
.resizerwide{border:2px solid #FFF;padding:0 3px 0 6px;margin:0 0 10px 20px}

.share {padding:22px 0 0 0}

#articles {background: #FFF;color:#000;width:300px;float:right;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;border:2px solid #e1e1c4;
padding:0 10px;margin:0 0 20px 20px}
#articles ul {clear:left;margin:0 0 14px 30px}
#articles h2 {margin:2px 0}

#threeGraphics {clear:left}


.graphic_1, .graphic_2, .graphic_3 {float:right;clear:right;margin:0 0 20px 20px }
.rightgraphic {margin-right:0}
.graphic_1 a {display:block;width:300px;height:210px;color:#000;padding:0 10px;background:url('images/special.jpg')}
.graphic_1 a.provider {background:url('images/selecting.jpg')}
.graphic_1 a.pricing {background:url('images/costs.jpg')}

.graphic_1 a:hover{text-decoration:none;}
.graphic_1 a span{display:none;position:relative;top:80px;font-size:11px;line-height:18px;padding-right:120px;padding-left:4px}
.graphic_1 a:hover span{display:block;}


/* Navigation bar */
.main-nav {position:absolute;top:99px;margin:0 0 0 310px;z-index:4;width:641px;padding:0;}

.main-nav li { float: left; position: relative; margin:0 -12px 0 0 ;padding:0}



.main-nav li a { display: block;  padding: 0; overflow: hidden; background: url('images/navbar2.png') left top no-repeat;height:75px;}

.main-nav li a:hover {text-decoration:none}
.main-nav li.home a { width: 117px; }
.main-nav li.pricequote a { background-position: -117px 0; width: 114px; }
.main-nav li.price a { background-position: -231px 0; width: 114px; }
.main-nav li.services a { background-position: -346px 0; width: 114px; }
.main-nav li.provider a { background-position: -461px 0; width: 114px; }
.main-nav li.directory a { background-position: -576px 0; width: 114px; }

.main-nav li a span{left:-9999px;position:absolute}

.main-nav li.home a:hover, .main-nav li.home a.on, .main-nav li.home a.current { background-position: 0 -79px;}
.main-nav li.pricequote a:hover, .main-nav li.pricequote a.on, .main-nav li.pricequote a.current { background-position: -117px -79px;  }
.main-nav li.price a:hover, .main-nav li.price a.on, .main-nav li.price a.current { background-position: -231px -79px;  }
.main-nav li.services a:hover, .main-nav li.services a.on, .main-nav li.services a.current { background-position: -346px -79px; }
.main-nav li.provider a:hover, .main-nav li.provider a.on, .main-nav li.provider a.current { background-position: -461px -79px; }
.main-nav li.directory a:hover, .main-nav li.directory a.on, .main-nav li.direcory a.current { background-position: -576px -79px; }


/*RFQ*/

ul.steps {width:300px;margin-left:0;float:left}
ul.steps li {padding:3px 0 10px 72px;list-style-type: none;
background: url('images/step1.gif') no-repeat top left;}
ul.steps li.step2{background: url('images/step2.gif') no-repeat top left}
ul.steps li.step3{background: url('images/step3.gif') no-repeat top left}
ul.steps li.step4{background: url('images/step4.gif') no-repeat top left}

ul.steps li strong {
color:#0C3A45;
font-size:16px;
}

/* Site footer */
div.footer { padding: 4px 0;font-size:11px;clear:both;
color:#000;margin:0 0 40px;border-top:1px solid #000;

}
div.footer ul { list-style: none; background: none; padding: 0 0 2px 0;float:left;margin:0}
div.footer ul li { list-style: none; background: none; display: inline;  padding: 0 0 0 1px;  }
div.footer ul li a { padding: 0 2px 0 0;}
/*div.footer ul li a:visited { color: #3D5B6E; }*/

div.footer p {   margin: 0px; padding: 0;clear:left}
div.footer ul.terms {float:right;margin-right:2px}

/* Form field styles */
fieldset {  
margin:0px;
border:0px;
padding:0px;
}

fieldset ol.contactform {margin:0; padding:0;list-style-type:none}
fieldset ol li{clear:left;margin:12px 0; padding:0}
fieldset ol li.category{margin:24px 0}
fieldset ol ul {margin:0;padding:0;list-style:none}

legend {padding-left:170px;display:block}
input, select, textarea{float:left}
checkbox{border:none}
.checkboxBG {padding:20px; background:#06F}

input.radio {float:left}

label {display:block;text-align:left;float:left;margin-top:-2px;}
label.contactform {display:block;margin-right:20px;width:120px}
fieldset #buttons {padding:10px 140px;clear:left}

.error-message{color:#F00;font-weight:bold}
#submit-message {border:1px solid #193907;background:#e1e1c4;padding:10px;margin-top:10px}

.submit {background:url(images/submit.gif);cursor:pointer;
    width: 160px;
    height: 42px;
	border:0;
}



/* FaceBox Code */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
}

#facebox .content {
  display:table;
  width: 490px;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
