

$sienna: #824A14;
$siennaLight: #a25d1a;
$green: #A79A34;
$greenLight: #C4B01E;

$yellow: #FFCF00;
$yellowLight:#FFEC00;

$black: #35311C;
$blackGreen: #524d21;

$altblack: #211e18;

$orange: #CFA02B;

$brickOrange:#f06d06;

$bzOrange: #e98822;

$white:#fcfcfc;

$cream:#fcfcf4;
