

$sienna: #824A14;
$siennaLight: #a25d1a;
$green: #A79A34;
$greenLight: #C4B01E;

$yellow: #FFCF00;
$yellowLight:#FFEC00;
$yellowDark:#fec800;

$black: #35311C;
$blackGreen: #524d21;

$altblack: #211e18;

$orange: #CFA02B;

$brickOrange:#f06d06;

$bzOrange: #e98822;

$white:#ffffff;

$cream:#fcfcf4;
$creamDark:#fdfde9;

$yellow: #FFE800;
$brown: #404040;
$blue: #1CD3F8;
$angle: 8px;
$angle-o: 4px;

$gray:#222;


/* Color Theme Swatches in Hex */
$buttons-offwhite-1-hex: #FDFCE3;
$buttons-offwhite-2-hex: #E3E0CC;
$buttons-offwhite-3-hex: #FAF9F6;
$buttons-offwhite-4-hex: #E3DBCC;
$buttons-offwhite-5-hex: #FDF1E3;

/* Color Theme Swatches in RGBA */
$buttons-offwhite-1-rgba: rgba(253,252,227, 1);
$buttons-offwhite-2-rgba: rgba(227,224,204, 1);
$buttons-offwhite-3-rgba: rgba(250,249,246, 1);
$buttons-offwhite-4-rgba: rgba(227,219,204, 1);
$buttons-offwhite-5-rgba: rgba(253,241,227, 1);

/* Color Theme Swatches in HSLA */
$buttons-offwhite-1-hsla: hsla(57, 86, 94, 1);
$buttons-offwhite-2-hsla: hsla(52, 29, 84, 1);
$buttons-offwhite-3-hsla: hsla(45, 28, 97, 1);
$buttons-offwhite-4-hsla: hsla(39, 29, 84, 1);
$buttons-offwhite-5-hsla: hsla(32, 86, 94, 1);
