/* created by J. Ryan Doherty 2016 */

html, body {
	font-family: 'Raleway', sans-serif;
	background: rgba(69,69,69,1.00);
	padding: 0;
	min-width: 0;
	width: 100%;
	height: 100%;
	min-height:900px;
}

div, label, span {
	user-select: text;
}
.bg-img {
	width: 100%;
	height: 100%;
	min-height: 680px;
	background: url("hornet_bg-box-trucks.jpg") center no-repeat;
	background-size: cover;
	color: #fff;
	margin-bottom: -20px;
}


#backNextRow {
	position: absolute;
	right: 7%;
	margin-top: -45px;
	border: none;
}

#backNextRow button {
	cursor: pointer;
}

.firstPage .buttonContainer {
	display: none
}

.nextLabel {
	height: 150px;
	width: 150px;
	background: #315573;
	transform: skew(-5deg);
	color:#fff;
}
#rfq-continue:hover {
  background-color: #2C4C66 !important;
}

.backWrapper {
	background: #343434;
	height: 80px;
	width: 80px;
	transform: skew(-5deg);
	border: none;
	margin-top: 20px;
	color:#fff;
}

#rfq-back:hover {
  background-color: #464646;
}

.progress-value {
	color: #fff;
	position: absolute;
	right: 0px;
	margin: 20px;
	font-size: 36px;
}

.completionRow {
	width: 100%;
	margin: 0 auto
}
.completionWrapper {
	background-color: rgba(255, 192, 46, .4);
	height: 15px;
	border: none;
	float: none;
	line-height: 16px;
	width: 100%;
	margin: 0 auto;
}
.completionBar {
	border: 0;
	background-color:rgba(253, 210, 19, .9);
	transform: 0.8s linear;

}

.completionMsg {
	position: static;
	color: #fff;
	float:right;
	width:auto !important;
	height:0;
	margin:-8px 10px 0 0 ;
	font-family: "ralewayregular", sans-serif;
}

.questionContainer {
	top: 10%;
	position: relative;
}

.leftPage {
	width: 28%;
	margin: 4% 8% 0;
	float: left;
	padding: 0;
	text-align: center;
}

.leftPage ul {
	margin:0;
	padding: 0 42px;
}

.leftPage img {
 	max-width: 295px;
}

.bulletList {
	font-size:15px;
	margin:0;
	border-bottom:3px solid #afc7e8;
	padding:10px 0;
	text-align: left;
	margin-bottom: .7521367521367521em;
}

.bulletList h3{
	text-align:center;
	font-size:21px;
	margin:0;
}

.buyersGuide img {
	margin-right: 8px;
	width:100px;
	float:left;
}
.buyersGuide p {
	padding-top:1%;
	text-align: left;
	font-size:13px;
}

.rfq-box {
	width: 47%;
	overflow: hidden;
	padding:10px 0 0 0 ;
	border-radius: 0;
	background: rgba(207, 160, 42, 0.9);
  color: #fff;
	transform: skew(-5deg);
	color: #fff;
}

.rfq-box .page {
	width: 95%;
	position: static;
	padding-left: 20px;

}

.rfq-box form .page {
  min-height:0
}


.safari fieldset>div.answersColumn>div.radio input[type=radio]+label, .safari fieldset>div.radio input[type=radio]+div.multipleAnsOther>label, .safari fieldset>div.radio input[type=radio]+label {
	display:inline-block;
}

/* answer icons */


.page-5 .radio:first-child label {
	display:none
}

form legend {
	text-align: left;
	transform: skew(5deg);
}


span.error {
	color: #CC1B69 !important;
	font-weight: bold;
	font-size:16px !important;
	margin-top: 8px;
}
.question {
	font-size: 28px;
	color: #fff;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 400;
	transform: skew(5deg);
	line-height:1em;
}

legend.question + p.note, p.note {
	color: #5E5E5E;
	font-size: 16px
}

.rfq-box form .page > input[type="text"] {
	display: block;
	width: 60%;
	font-size: 23px;
	border-radius: 6px;
	border: #464646 4px solid;
	padding: 6px;/*transform: skew(10deg);*/
}

.page-1 .radio:first-child .qiconWrapper {
  background-image: url("https://cdn.buyerzone.com/images/mktg/hornet/box-trucks/new-alt.svg") !important;
}

.page-1 .radio:nth-child(2) .qiconWrapper {
  background-image: url("https://cdn.buyerzone.com/images/mktg/hornet/box-trucks/used-alt.svg") !important;
}

.page-1 .radio:nth-child(3) .qiconWrapper {
  background-image: url("https://cdn.buyerzone.com/images/mktg/hornet/box-trucks/unsure.svg") !important;
}

input#email {
	width: 80%;
}
.postalcode_input.zipUS {
	width: 100px !important;
}
.exampleAnswers {
	display: none
}
form fieldset.error {
	background: none
}
form fieldset.error input[type="text"] {
	border: 4px solid #CC1B69 !important
}
.q-help-link {
	display: none
}
.horizontalControls {
	margin: 20px auto 0px;
}
.horizontalControls label {
	padding-top: 0 !important
}
.horizontalControls .qiconWrapper {
	/*height: 120px;*/
	width: 100%;
	margin-bottom:2px
}
.horizontalControls div.radio:hover .qiconWrapper{

	-ms-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-webkit-transition:  background .2s linear;
}
.horizontalControls div.radio {
	float: none;
	width: 28%;
	margin: 4px;
}
.horizontalControls div.radio input[type="radio"] ~ label {
	padding-top: 0 !important;
	background: none;
}
.horizontalControls div.radio input[type="radio"]:checked ~ label {
	padding-top: 0 !important;
	background: none;
}

div.radio {
	display: inline-block;
	margin: 6px;
	border-radius: 6px;
	padding: 10px 10px 0 10px;
	border: 1px solid #464646;
	text-align:center;
	cursor: pointer;
}
div.radio:hover {
	  background: #B58C25;
}
.onState {
	background: #E8C22A;
}
.onStateButton {
	border: 4px solid #000;
}
div.radio input[type="radio"] ~ label {
	background: url(/industrial/forklifts/radio_off.svg) no-repeat;
	background-size: 26px 26px;
}
div.radio input[type="radio"]:checked ~ label {
	background: url(/industrial/forklifts/radio_on.svg) no-repeat;
	background-size: 26px 26px;
}
input[type="radio"]:checked + div {

	background-position: 6px 0;
}
input[type="radio"]:checked + div + label {
	font-weight: bold;
}
.answersRow2 div.radio:nth-child(3) label {
	display: none
}

.page6 div.radio:first-child label {
	display: none
}

input[type="checkbox"]:checked + div.multipleAnsOther > label, input[type="checkbox"]:checked + label {
	background: url(/global-images/midnight/checkbox_on.svg) no-repeat;
	background-size: 26px 26px;
}
input[type="checkbox"] + div.multipleAnsOther > label, input[type="checkbox"] + label {
	background: url(/global-images/midnight/checkbox_off.svg) no-repeat;
	background-size: 26px 26px;
}

.footer {
	padding: 5px;
	font-size: 12px;
	clear: both;
	margin-left: 8%;
	margin-top: 20px;
	bottom: 0;
	position: absolute;
}
.footer a:hover {
	color: #FFE90D
}
.footer a, .footer a:visited {
	color: #4EAFF8 !important
}
.logoFooter {
	width: 300px;
	height: 65px;
}

@media (max-height:900px) {
	.footer {position: static;}
}

@media (max-width:1142px) {
	.horizontalControls div.radio {
		float: none;
		width: 25%;
		margin: 2px;
	}
}

@media (max-width:1024px) {
	.question {
		font-size: 21px
	}
	.leftPage ul{
		padding: 0px 15px;
	}

	form label {
		font-size: 14px;
	}
	.buyersGuide p {
		font-size:12px
	}
	.buyersGuide img {
		width: 100px
	}
	.nextLabel {
		height: 110px
	}

	.logoFooter {
		width: 228px;
		height: 34px;
	}
	legend.question + p.note, p.note {
		font-size: 14px
	}

	.progress-value {font-size:28px}

	.reg-page fieldset table input, .reg-page fieldset table select {
		font-size:13px
	}

}

@media (max-width:992px) {
	.bg-img {
		height:auto;
	}

	.progress-value {
		font-size:21px;
	}

	.leftPage {
		width:75%;
		float:none;
		margin:0 auto;
		padding-top:5%;
	}

	.rfq-box {
		width: 100%;
		transform: skew(0deg);
		height:auto;
	}

	.question{
		transform: skew(0deg)
	}

	#backNextRow {
		right: 3%;

	}
	.footer {
		position:static;
		margin-left: 5%;
		margin-top: 100px;
	}
}

@media (max-width:768px) {
	.leftPage {
		width:90%;
	}

	h2 {
		font-size:1.3em;
	}

	.nextLabel {
		transform: skew(0)
	}
	.backWrapper {
		transform: skew(0)
	}

	.bulletList {
		margin: 3em 0;
		padding: 4%;
	}

	.bulletList h3{
		margin: .3em 0 .8em;

	}

}

@media (max-height:802px) {

	.nextLabel {
		height: 110px
	}

	.logoFooter {
		width: 228px;
		height: 34px;
	}

	.questionContainer {
		top: 10%;
	}
	span.links {
		display: none
	}
	span.number {
		display: block
	}
	#backNextRow {
		margin-top: -58px;
	}

}



@media (max-height:740px) {

	.buyersGuide  {
		display: none;
	}

}


@media (max-height:585px) {
	.leftPage {
		margin-top:3%;
	}
	.how {
		display:none;
	}
}

@media (max-height:555px) {

	.logoFooter {
		display:none
	}

}
